@import url('https://fonts.googleapis.com/css2? family= Ubuntu:wght@300 & display=swap');

body{
    background: #1d162e;
    color: #77ffc0;
    font-family: 'Ubuntu';
    
}

img{
    text-align: center;
    height: 30em;
    width: 52em;
}

article{
    text-align: justify;
    color: #fff;
}

section{
    text-align: center;
    display: inline-block;
    margin: 1.75em;
}

h3{text-align: justify;}