* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Changa', 'sans-serif';
}

.navegacao{
    
    text-align: center;
    margin-right: 8px;
    font-size: 130%;

}

.cabecalho{
    padding: 10px;
    width: 100%;
    background: #5B59E3;
    color: white;
    font-size: 42px;
}